@font-face {
  font-family: robotoMono;
  src: url(./fonts/RobotoMono-Regular.ttf);
}

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  font-family: robotoMono;
  background-color: var(--light);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  transition: all 0.5s ease-out;
}

h1 {
  font-size: 2.25rem;
}

.navbar-container {
  background-color: var(--dark);
  display: flex;
}

.navbar {
  margin: 0;
  display: flex;
  list-style: none;
}

.navbar-item {
  color: var(--light);
  padding: 1rem;
}

.navbar-item--transition {
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.navbar-item--transition:hover {
  transform: scaleY(1.1) scaleX(1.1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 0.625rem;
  margin: 0.625rem;
}

img {
  width: 15.625rem;
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  p:first-of-type {
    display: none;
  }
}
